@import "normalize";
@import "grid";
@import "variables";
@import "mixins";

//mobile syles
html {
	font-size: 18px;


	body {		

		header {}

		main {
			h1 {color: red;}
		}
		

		footer {}
	}
}
//tablet styles
@media only screen and (min-width: 768px) {

}

//notebook styles
@media only screen and (min-width: 960px) {
	html {
		font-size: 20px;
	}

}

//large screen styles
@media only screen and (min-width: 1140px) {

}
	
