---
layout: default
title: minframe | Mobile-first, Responsive, Light-weight Front-End Framework
url: 
image:
description: This tutorial is a step by step, basic introduction to minframe, front end frameworks and build tools. minframe is a modern HTML5, mobile-first front-end framework built with Sass and Gulp on a 12 column responsive grid. 
---
	
</header>
<main id="main">
<h1><strong>min</strong>imal <strong>frame</strong>work Tutorial</h1>
<h2>A basic introduction to minframe, front end frameworks and build tools</h2>
<section id="summary">
	<p>minframe is a modern HTML5, mobile-first front-end framework built with Sass and Gulp on a 12 column responsive grid. The framework boasts all of the modern accessiblility features and tools developers use in builds but none of the style bloat. The only boilerplate styling is normalize.scss, our 12 column responsive grid and basic HTML5 Sass nesting. Javascript is only required during the build process, not in&nbsp;the&nbsp;browser.</p>
</section><!--/#summary-->

</main>